<h1>Month by Month</h1>
<h3>Welcome to Month by Month, where you can set and achieve your monthly goals.</h3>

<li>
  <ul><h5>Set a maximum of 3 goals each month. No edit.</h5></ul>
</li>
<li>
  <ul><h5>Make your goals measurable and achievable.</h5></ul>
</li>
<li>
  <ul><h5>Print your goals and put it on your wall, and also put it as your background image in both your laptop and mobile.</h5></ul>
</li>
<li>
  <ul><h5>Use the comments to add info or comments regarding each month golas.</h5></ul>
</li>
<li>
  <ul><h5>Share your monthly goals with your friends and family. Put it out there and commit to it.</h5></ul>
</li>

<% if user_signed_in? %>
  <h4>Have you define this month's goals? <%= link_to "To Do's", "#" %></h4>
<% else %>
  <h4><%= link_to "Login", new_user_session_path %> / <%= link_to "Register", new_user_registration_path %> and start defining your goals.</h4>
<% end %>
